<cp-top-toolbar [title]="'CP2 - Profile'"></cp-top-toolbar>

<form (ngSubmit)="onSubmit(userProfileForm)"
      #userProfileForm="ngForm"
      fxFlexFill [fxLayout]="'row'"
      fxLayoutAlign="center start">
  <md-card>
    <md-card-content [fxLayout]="'column'" fxFlex="600px">
      <div *ngIf="changingImage" [fxLayout]="'column'">
        <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper><br>
        <button
          fxLayoutAlign="center center"
          md-button
          type="button"
          (click)="saveNewImage()">Save</button>
      </div>
      <div *ngIf="!changingImage" [fxLayout]="'column'">
        <h3>User profile</h3>
        <div fxFlex="100" [fxLayout]="'row'">
          <div [fxLayout]="'column'">
            <img
              fxLayoutAlign="center center"
              [src]="data && data.image ? data.image :  'http://placehold.it/128x128'"
              class="profile-img">
            <button
              fxLayoutAlign="center center"
              md-button
              type="button"
              (click)="changingImageClick()">Change Image</button>
          </div>
          <div fxFlex="100"
               [fxLayout]="'column'">
            <p [ngStyle]="{'color': 'red', 'font-size':'75%'}" align="start">
                {{error}}
            </p>
            <md-input-container>
              <input mdInput
                     fxFlex="100"
                     required
                     minlength="3"
                     placeholder="Username"
                     [(ngModel)]="user.profile.username"
                     name="username"
                     #username="ngModel">
              <md-hint
                *ngIf="!username.pristine && username.errors?.required"
                [ngStyle]="{'color': 'red'}"
                align="start">
                Username required
              </md-hint>
              <md-hint
                *ngIf="!username.pristine && username.errors?.minlength"
                [ngStyle]="{'color': 'red'}"
                align="start">
                Username to short (min. 3 characters)
              </md-hint>
            </md-input-container>
            <md-input-container>
              <input mdInput
                     fxFlex="100"
                     minlength="3"
                     placeholder="Display Name"
                     [(ngModel)]="user.profile.displayName"
                     name="displayName"
                     #displayName="ngModel">
            </md-input-container>
          </div>
        </div>
      </div>

    </md-card-content>
    <md-card-actions fxLayoutAlign="end" [fxLayout]="'row'">
      <button *ngIf="!changingImage" type="submit"
              md-icon-button
              [color]="'primary'"
              [disabled]="!userProfileForm.form.valid || !profileIsChanged()">
        <fa [name]="'floppy-o'"></fa>
      </button>
    </md-card-actions>
  </md-card>
</form>



