/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html{
  min-height: 100vh;
  height: 100vh;
}
body { position:absolute; top:0; bottom:0; right:0; left:0; }

.error-message{
  color: darkred;
  font-size: x-small;
}
