<md-card>
  <md-card-content [fxLayout]="'row'">
    <div fxFlex="4em"><fa [name]="'user'" [size]=4></fa></div>
    <div fxFlex>
      <h3>{{user?.username}}</h3>
      <h4>{{user?.email}}</h4>
    </div>
    <div fxFlex="3em" [fxFlexAlign]="'end'" [fxLayout]="'column'">
      <button [color]="'primary'" md-icon-button >
        <fa [name]="'info'" ></fa>
      </button>
      <button [color]="'accent'" md-icon-button >
        <fa [name]="'edit'" ></fa>
      </button>
      <button [color]="'warn'" md-icon-button>
        <fa [name]="'trash'" ></fa>
      </button>
    </div>
  </md-card-content>
</md-card>
